<table class="amazon-table">
  <tr>
    <td class="amazon-cell">
      <a href="https://www.amazon.com/dp/{{ include.asin }}?tag={{ site.constants.amazon_com }}" rel="nofollow sponsored" target="_blank">
        <img src="{{ include.imageUrl }}" alt="{{ include.title | default: include.asin }} on Amazon US" class="amazon-image" loading="lazy" width="120" height="120">
      </a>
      <div class="amazon-link">
        <a href="https://www.amazon.com/dp/{{ include.asin }}?tag={{ site.constants.amazon_com }}" rel="nofollow sponsored" target="_blank">Amazon US</a>
      </div>
    </td>
    <td class="amazon-cell">
      <a href="https://www.amazon.co.uk/dp/{{ include.asin }}?tag={{ site.constants.amazon_uk }}" rel="nofollow sponsored" target="_blank">
        <img src="{{ include.imageUrl }}" alt="{{ include.title | default: include.asin }} on Amazon UK" class="amazon-image" loading="lazy" width="120" height="120">
      </a>
      <div class="amazon-link">
        <a href="https://www.amazon.co.uk/dp/{{ include.asin }}?tag={{ site.constants.amazon_uk }}" rel="nofollow sponsored" target="_blank">Amazon UK</a>
      </div>
    </td>
    <td class="amazon-cell">
      <a href="https://www.amazon.de/dp/{{ include.asin }}?tag={{ site.constants.amazon_de }}" rel="nofollow sponsored" target="_blank">
        <img src="{{ include.imageUrl }}" alt="{{ include.title | default: include.asin }} on Amazon DE" class="amazon-image" loading="lazy" width="120" height="120">
      </a>
      <div class="amazon-link">
        <a href="https://www.amazon.de/dp/{{ include.asin }}?tag={{ site.constants.amazon_de }}" rel="nofollow sponsored" target="_blank">Amazon DE</a>
      </div>
    </td>
    <td class="amazon-cell">
      <a href="https://www.amazon.es/dp/{{ include.asin }}?tag={{ site.constants.amazon_es }}" rel="nofollow sponsored" target="_blank">
        <img src="{{ include.imageUrl }}" alt="{{ include.title | default: include.asin }} on Amazon ES" class="amazon-image" loading="lazy" width="120" height="120">
      </a>
      <div class="amazon-link">
        <a href="https://www.amazon.es/dp/{{ include.asin }}?tag={{ site.constants.amazon_es }}" rel="nofollow sponsored" target="_blank">Amazon ES</a>
      </div>
    </td>
    <td class="amazon-cell">
      <a href="https://www.amazon.fr/dp/{{ include.asin }}?tag={{ site.constants.amazon_fr }}" rel="nofollow sponsored" target="_blank">
        <img src="{{ include.imageUrl }}" alt="{{ include.title | default: include.asin }} on Amazon FR" class="amazon-image" loading="lazy" width="120" height="120">
      </a>
      <div class="amazon-link">
        <a href="https://www.amazon.fr/dp/{{ include.asin }}?tag={{ site.constants.amazon_fr }}" rel="nofollow sponsored" target="_blank">Amazon FR</a>
      </div>
    </td>
    <td class="amazon-cell">
      <a href="https://www.amazon.it/dp/{{ include.asin }}?tag={{ site.constants.amazon_it }}" rel="nofollow sponsored" target="_blank">
        <img src="{{ include.imageUrl }}" alt="{{ include.title | default: include.asin }} on Amazon IT" class="amazon-image" loading="lazy" width="120" height="120">
      </a>
      <div class="amazon-link">
        <a href="https://www.amazon.it/dp/{{ include.asin }}?tag={{ site.constants.amazon_it }}" rel="nofollow sponsored" target="_blank">Amazon IT</a>
      </div>
    </td>
  </tr>
</table>