<table>
  <tr>
    <td>
      <a href="https://www.amazon.com/dp/{{ include.asin }}?tag={{ site.constants.amazon_com }}" rel="nofollow" target="_blank">
        <img src="{{ include.imageUrl }}" alt="Amazon US" style="width:120px;height:auto;">
      </a>
      <div style="text-align: center;">Amazon US</div>
    </td>
    <td>
      <a href="https://www.amazon.co.uk/dp/{{ include.asin }}?tag={{ site.constants.amazon_uk }}" rel="nofollow" target="_blank">
        <img src="{{ include.imageUrl }}" alt="Amazon UK" style="width:120px;height:auto;">
      </a>
      <div style="text-align: center;">Amazon UK</div>
    </td>
    <td>
      <a href="https://www.amazon.de/dp/{{ include.asin }}?tag={{ site.constants.amazon_de }}" rel="nofollow" target="_blank">
        <img src="{{ include.imageUrl }}" alt="Amazon DE" style="width:120px;height:auto;">
      </a>
      <div style="text-align: center;">Amazon DE</div>
    </td>
    <td>
      <a href="https://www.amazon.es/dp/{{ include.asin }}?tag={{ site.constants.amazon_es }}" rel="nofollow" target="_blank">
        <img src="{{ include.imageUrl }}" alt="Amazon ES" style="width:120px;height:auto;">
      </a>
      <div style="text-align: center;">Amazon ES</div>
    </td>
    <td>
      <a href="https://www.amazon.fr/dp/{{ include.asin }}?tag={{ site.constants.amazon_fr }}" rel="nofollow" target="_blank">
        <img src="{{ include.imageUrl }}" alt="Amazon FR" style="width:120px;height:auto;">
      </a>
      <div style="text-align: center;">Amazon FR</div>
    </td>
    <td>
      <a href="https://www.amazon.it/dp/{{ include.asin }}?tag={{ site.constants.amazon_it }}" rel="nofollow" target="_blank">
        <img src="{{ include.imageUrl }}" alt="Amazon IT" style="width:120px;height:auto;">
      </a>
      <div style="text-align: center;">Amazon IT</div>
    </td>
  </tr>
</table>