<table class="amazon-table">
  <tr>
    <td class="amazon-cell">
      <a href="https://www.amazon.com/dp/{{ include.asin }}?tag={{ site.constants.amazon_com }}" rel="nofollow" target="_blank">
        <img src="{{ include.imageUrl }}" alt="Amazon US" class="amazon-image">
      </a>
      <div class="amazon-link">
        <a href="https://www.amazon.com/dp/{{ include.asin }}?tag={{ site.constants.amazon_com }}" rel="nofollow" target="_blank">Amazon US</a>
      </div>
    </td>
    <td class="amazon-cell">
      <a href="https://www.amazon.co.uk/dp/{{ include.asin }}?tag={{ site.constants.amazon_uk }}" rel="nofollow" target="_blank">
        <img src="{{ include.imageUrl }}" alt="Amazon UK" class="amazon-image">
      </a>
      <div class="amazon-link">
        <a href="https://www.amazon.co.uk/dp/{{ include.asin }}?tag={{ site.constants.amazon_uk }}" rel="nofollow" target="_blank">Amazon UK</a>
      </div>
    </td>
    <td class="amazon-cell">
      <a href="https://www.amazon.de/dp/{{ include.asin }}?tag={{ site.constants.amazon_de }}" rel="nofollow" target="_blank">
        <img src="{{ include.imageUrl }}" alt="Amazon DE" class="amazon-image">
      </a>
      <div class="amazon-link">
        <a href="https://www.amazon.de/dp/{{ include.asin }}?tag={{ site.constants.amazon_de }}" rel="nofollow" target="_blank">Amazon DE</a>
      </div>
    </td>
    <td class="amazon-cell">
      <a href="https://www.amazon.es/dp/{{ include.asin }}?tag={{ site.constants.amazon_es }}" rel="nofollow" target="_blank">
        <img src="{{ include.imageUrl }}" alt="Amazon ES" class="amazon-image">
      </a>
      <div class="amazon-link">
        <a href="https://www.amazon.es/dp/{{ include.asin }}?tag={{ site.constants.amazon_es }}" rel="nofollow" target="_blank">Amazon ES</a>
      </div>
    </td>
    <td class="amazon-cell">
      <a href="https://www.amazon.fr/dp/{{ include.asin }}?tag={{ site.constants.amazon_fr }}" rel="nofollow" target="_blank">
        <img src="{{ include.imageUrl }}" alt="Amazon FR" class="amazon-image">
      </a>
      <div class="amazon-link">
        <a href="https://www.amazon.fr/dp/{{ include.asin }}?tag={{ site.constants.amazon_fr }}" rel="nofollow" target="_blank">Amazon FR</a>
      </div>
    </td>
    <td class="amazon-cell">
      <a href="https://www.amazon.it/dp/{{ include.asin }}?tag={{ site.constants.amazon_it }}" rel="nofollow" target="_blank">
        <img src="{{ include.imageUrl }}" alt="Amazon IT" class="amazon-image">
      </a>
      <div class="amazon-link">
        <a href="https://www.amazon.it/dp/{{ include.asin }}?tag={{ site.constants.amazon_it }}" rel="nofollow" target="_blank">Amazon IT</a>
      </div>
    </td>
  </tr>
</table>